
[submodule "external/Texas"]
	path = external/Texas
	url = https://github.com/Didgy74/Texas.git
	branch = development
[submodule "external/anton_gizmo"]
	path = external/anton_gizmo
	url = https://github.com/kociap/anton_gizmo.git
[submodule "external/Box2D"]
	path = external/Box2D
	url = https://github.com/erincatto/box2d.git
